[submodule "MetatoneMIDI"]
	path = MetatoneMIDI
	url = https://github.com/cpmpercussion/MetatoneMIDI
[submodule "MetatoneOSC"]
	path = MetatoneOSC
	url = https://github.com/cpmpercussion/MetatoneOSC
[submodule "InAppSettingsKit"]
	path = InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git
