<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Network Settings</string>
            <key>FooterText</key>
            <string>The worldwide performance classifier is a web server which automatically tracks the gestures of PhaseRings users who are performing at the same time. When the server detects new ideas among the performers, the app will advance to the next setup. This is an experimental feature - but it's fun!</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Worldwide Performance Classifier</string>
			<key>Key</key>
			<string>web_classifier</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
<!--		<dict>-->
<!--			<key>Type</key>-->
<!--			<string>PSToggleSwitchSpecifier</string>-->
<!--			<key>Title</key>-->
<!--			<string>Local Performance Classifier</string>-->
<!--			<key>Key</key>-->
<!--			<string>local_classifier</string>-->
<!--			<key>DefaultValue</key>-->
<!--			<true/>-->
<!--		</dict>-->
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Display Classifier Status</string>
			<key>Key</key>
			<string>display_classifier_information</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
