<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
<!--    Main Settings    -->
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General Settings</string>
            <key>FooterText</key>
            <string>PhaseRings is an app for performing expressive music with touch gestures. Each ring on the screen represents a different note. You can change to a new setup of notes using the "+" and "-" buttons. There are usually six setups available, which take notes from different scales and keys. You can setup your own scales and keys using the "Custom Composition" setting. This is an experimental instrument developed as part of my research, so thanks for trying it out! --Charles Martin.</string>
		</dict>
        
<!--    Sound Scheme    -->
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sound Scheme</string>
			<key>Key</key>
			<string>sound</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Phase Synthesis</string>
				<string>String Synthesis</string>
				<string>Singing Bowls</string>
				<string>Gongs</string>
				<string>Crotales</string>
				<string>Terracotta Pots</string>
				<string>Marimba</string>
			</array>
		</dict>
        
<!--    Composition    -->
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Composition</string>
			<key>Key</key>
			<string>composition</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Custom Composition</string>
				<string>Study in Bowls</string>
				<string>Amores</string>
				<string>Mixo Steps</string>
				<string>Scheimpflug Principle</string>
			</array>
		</dict>
        
        <!--    Switches for displaying UI elements    -->
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Show Note Labels</string>
            <key>Key</key>
            <string>note_labels</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Show Setup Description</string>
            <key>Key</key>
            <string>setup_label</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
<!--    Audio and MIDI child panes    -->
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Audio Preferences</string>
			<key>File</key>
			<string>sounds</string>
		</dict>
    <dict>
       <key>Type</key>
       <string>PSChildPaneSpecifier</string>
       <key>Title</key>
       <string>MIDI Preferences</string>
       <key>File</key>
       <string>midi</string>
    </dict>
<!--    Custom Composition Child Pane    -->
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Custom Composition</string>
			<key>File</key>
			<string>custom_composition</string>
		</dict>
<!--    Network Child Pane               -->
    <dict>
       <key>Type</key>
       <string>PSChildPaneSpecifier</string>
       <key>Title</key>
       <string>Network Preferences</string>
       <key>File</key>
       <string>network</string>
    </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
